<!DOCTYPE HTML>
<HTML lang='es'>
<head>
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock %}</title>
    <!-- CDN Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootswatch.min.js'%}"></script>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    



    {% block head %}
    {% endblock %}

</head>
<body >
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
				      <ul class="nav navbar-nav">
				      	  {% if user.is_authenticated %}
                    {% block nav %}
                      {% if user.is_staff %}
                        <li {% block usuarios_active %}{% endblock %}><a href="{% url 'usuarios_view' %}"><i class="fa fa-users" aria-hidden="true"></i> Manejo de Usuarios</a></li>
                      {% endif %}
    				      	 	<li {% block caninos_active %}{% endblock %}><a href="{% url 'caninos_view' %}"><i class="fa fa-paw fa-2" aria-hidden="true"></i> Manejo de Caninos</a></li>
            					<li {% block duenios_active %}{% endblock %}><a href="{% url 'duenios_view' %}"><i class="fa fa-user" aria-hidden="true"></i> Manejo de Dueños<span class="sr-only">(current)</span></a></li>
            					<li {% block estadisticas_active %}{% endblock %}><a href="{% url 'estadisticas' %}"><i class="fa fa-line-chart" aria-hidden="true"></i> Estadísticas</a></li>
                      <li {% block bioquimicas_active %}{% endblock %}><a href="{% url 'bioquimicas' %}"><i class="fa fa-wpforms" aria-hidden="true"></i><i class="fa fa-file-text" aria-hidden="true"></i> Bioquímicas</a></li>
                      <li {% block hemogramas_active %}{% endblock %}><a href="{% url 'hemogramas' %}"><i class="fa fa-tint" aria-hidden="true"></i> Hemogramas</a></li>
  						      {% endblock%}
				          {% endif %}
              </ul>
				      <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                		<li><a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i>   Cerrar sesión</a></li>
                    {% endif %}
                      </ul>
				        
				    </div>
  				</div>
			</nav>










			<div class="container-fluid" >
				{% block section %}{% endblock %}
			</div>
	</body>
</HTML>