

{% extends 'home/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/responsive.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/scroller.dataTables.min.css' %}"/> 
  <script type="text/javascript" src="{% static 'datatables/js/jquery-2.1.4.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'datatables/js/jquery.dataTables.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'datatables/js/dataTables.responsive.min.js'%}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.min.js"></script>
{% endblock %}

{% block duenios_active %}class = "active"{% endblock %}

{% block title%} Dueños {% endblock %}

{% block section %}
<script>
function eliminarDuenio(idform){
    
    var r = confirm("Eliminar?");
    if (r == true) {
        document.getElementById(idform).submit();
    }
    
  }
</script>
<div align="center">
  <legend>Manejo de Dueños</legend>
</div>
<div class="col-lg-2 control-label">
 <a type="button" class="btn btn-primary " href="{% url 'nuevo_duenio' %}"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Dueño</a>
</div> 
<style>
      .table-striped>tbody>tr:nth-child(odd)>td, 
      .table-striped>tbody>tr:nth-child(odd)>th {
       
      }
      .table-striped>tbody>tr:nth-child(even)>td, 
      .table-striped>tbody>tr:nth-child(even)>th {
       background-color: #CFD8DC;
      }
      .table-striped>thead>tr>th {
         background-color: #eee;
      }
    </style>
     {% if duenios %}
<div class="row">
<div class="col-lg-9 ">
<div class="well bs-component">
<div class="table-responsive">
<table id="duenios" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Procedencia</th>
      <th>Telefono</th>
      <th>Operacion</th>
    </tr>
  </thead>
  <tbody>
 
  {% for duenio in duenios %}
    <tr >
      <td>{{duenio.nombre}}</td>
      <td>{{duenio.apellido}}</td>
      <td>{{duenio.direccion}}</td>
      <td>{{duenio.barrio}}</td>
      <td>{{duenio.procedencia}}</td>
      <td>{{duenio.telefono}}</td>
      <td>
      <div class="col-md-2">
        <form id="eliminar{{duenio.id}}" action="{% url 'duenios_view' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="eliminar" value="{{duenio.id}}">
          <button type="button"  class="btn btn-xs" style="background-color:#f44336;color:#fff;" onclick="eliminarDuenio('eliminar{{duenio.id}}')">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </form>
        </div>
        <div class="col-md-2">
        <a href="{% url 'actualizar_duenio' duenio.id %}"   class="btn btn-xs" style="background-color:#FF8F00;color:#fff;" aria-label="Left Align">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a> 
        </div>
        <div class="col-md-2">  
      
        <button type="button" value='{{duenio.id}}' name="mas" id="mas" class="btn btn-xs btn-success" aria-label="Left Align" data-toggle="modal" data-target="#modal{{duenio.id}}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <!-- Modal -->
        <div id="modal{{duenio.id}}" class="modal  fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle del dueño: {{duenio}}</h4>
              </div>
              <div class="modal-body">
                {% include 'home/ficha_duenio.html'%}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>
      
    </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <div class="col-md-8" align="center">
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>No hay dueños para mostrar!</strong> 
  </div>
</div>
{% endif %}


</div>

</div>
</div>

</div>


<script>
  $(document).ready(function(){
    $('#duenios').dataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "select": true,
          
      "language":{
        "decimal":        "",
        "emptyTable":     "Datos no encontrados",
        "info":           "Mostrando  _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 filas",
        "infoFiltered":   "(filtrado desde _MAX_ filas",
        "infoPostFix":    "",
        "thousands":      ",",
        "lengthMenu":     "Mostrando _MENU_ filas",
        "faceoadingRecords": "Cargando...",
        "processing":     "Procesando...",
        "search":         "Buscar: ",
        "zeroRecords":    "0 resultados",
        "paginate": {
          "first":      "Primero",
          "last":       "Ultimo",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
        "aria": {
          "sortAscending":  ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
          }
        }
          
          
        });
      });
</script>
{% endblock %}