{% extends 'home/base.html'%}

{% block head %}
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block estadisticas_active %}class = "active"{% endblock %}

{% block title%} Estadisticas {% endblock %}

{% block section %}
<div class="row ; col-md-12">
    <div class="col-md-6" id="container" style="min-width: 210px; height: 300px; max-width: 500px"></div>
    <div class="col-md-6" id="container2" style="min-width: 210px; height: 300px; max-width: 500px"></div>
    <div class="col-md-6" id="container3" style="min-width: 210px; height: 300px; max-width: 500px; "></div>
</div>
<script>

$(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ' '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Brands',
            data: [
                { name: 'Machos', y: {{machos}} },
                { name: 'Hembras', y: {{hembras}} }
            ]
        }]
    });
});

</script>

 


<script type="text/javascript">
$(function () {

   

    // Build the chart
    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ' '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: '',
            data: [
                { name: 'Reactivos', y: {{porc_reactivos}} },
                { name: 'No Reactivos', y: {{porc_no_reactivos}} }
            ]
        }]
    });
});
</script>


<script type="text/javascript">
$(function () {

   

    // Build the chart
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ' '
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: '',
            data: [
                { name: 'Menos de un año', y: {{menos_uno}} },
                { name: 'Entre uno y cinco años', y: {{uno_y_cinco}} },
                { name: 'Mas de cinco años', y: {{mas_cinco}} }
            ]
        }]
    });
});
</script>




{% endblock %}

