  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Datos personales</h4>
    </div>
  <div class="panel-body">
  <div class="col-md-4">
    <blockquote>
      <u>Nombre: </u>{{duenio.nombre}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Apellido: </u>{{duenio.apellido}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Direccion: </u>{{duenio.direccion}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Barrio: </u>{{duenio.barrio}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Procedencia: </u>{{duenio.procedencia}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Telefono: </u>{{duenio.telefono}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Edad: </u>{{duenio.edad}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Grado de instruccion: </u>{{duenio.grado_de_instruccion}}
    </blockquote>
  </div>
  <div class="col-md-4">  
    <blockquote>
      <u>Ocupacion: </u>{{duenio.ocupacion}}
    </blockquote>    
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Convivientes adultos: </u>{{duenio.numero_convivientes_adultos}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Convivientes niños: </u>{{duenio.numero_convivientes_ninios}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>En edad escolar: </u>{{duenio.en_edad_escolar}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Cantidad de mascotas: </u>{{duenio.mascotas}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Tipos de mascotas: </u>{{duenio.tipos}}
    </blockquote>
  </div>
  </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">Datos habitacionales</h4>
    </div>
  <div class="panel-body">
  <div class="col-md-12">
  <div class="col-md-4">
    <blockquote>
      <u>Vivienda: </u>{{duenio.vivienda}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Material: </u>{{duenio.material}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Cantidad de ambientes: </u>{{duenio.ambientes}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Agujeros en la vivienda: </u>{{duenio.agujeros}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Provisiones de agua: </u>{{duenio.agua}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Excretas: </u>{{duenio.excretas}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Residuos domiciliarios: </u>{{duenio.residuos_domiciliarios}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Recoleccion de residuos: </u>{{duenio.recoleccion_de_residuos}}
    </blockquote>
  </div>
  </div>
  </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">Datos regionales</h4>
    </div>
  <div class="panel-body">
  <div class="col-md-12">
  <div class="col-md-4">
    <blockquote>
      <u>Cercania con basurales: </u>{{duenio.basural}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Presencia de roedores: </u>{{duenio.roedores}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Cercania de aguas servidas: </u>{{duenio.agua_servida}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Inundaciones: </u>{{duenio.inundaciones}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Ultima inundacion: </u>{{duenio.ultima_inundacion}}
    </blockquote>
  </div>
  </div>
  </div>
  </div>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">Datos clínicos positivos</h4>
    </div>
  <div class="panel-body">
  <div class="col-md-12">
  <div class="col-md-4">
    <blockquote>
      <u>Integrante con sintomas: </u>{{duenio.integrante}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Sintomas: </u>
      {% for sintoma in duenio.sintomas.all %}
        {{sintoma.nombre}}, 
      {% endfor %}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Aclaracion: </u>{{duenio.aclaracion}}
    </blockquote>
  </div>
    </div>
  </div>


