



<div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Datos del hemograma</h4>
    </div>
  <div class="panel-body">
  <div class="col-md-4">
    <blockquote>
      <u>Canino: </u>{{hemograma.canino}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Fecha: </u>{{hemograma.fecha}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>HTO: </u>{{hemograma.HTO}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>s_o_l: </u>{{hemograma.s_o_l}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>GR: </u>{{hemograma.GR}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Hb: </u>{{hemograma.Hb}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>plaquetas: </u>{{hemograma.plaquetas}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>GB: </u>{{hemograma.GB}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>VCM: </u>{{hemograma.VCM}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>HCM: </u>{{hemograma.HCM}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>ChCM: </u>{{hemograma.ChCM}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_NB: </u>{{hemograma.FLR_NB}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_NS: </u>{{hemograma.FLR_NS}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_E: </u>{{hemograma.FLR_E}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_B: </u>{{hemograma.FLR_B}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_L: </u>{{hemograma.FLR_L}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLR_M: </u>{{hemograma.FLR_M}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_REF: </u>{{hemograma.FLA_REF}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_NB: </u>{{hemograma.FLA_NB}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_NS: </u>{{hemograma.FLA_NS}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_E: </u>{{hemograma.FLA_E}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_B: </u>{{hemograma.FLA_B}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_L: </u>{{hemograma.FLA_L}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FLA_M: </u>{{hemograma.FLA_M}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>observaciones: </u>{{hemograma.observaciones}}
    </blockquote>
  </div>
  </div>
  </div>
