

<div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Datos del hemograma</h4>
    </div>
  <div class="panel-body">
  <div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>Canino: </u>{{bioquimica.canino}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>Fecha: </u>{{bioquimica.fecha}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>urea: </u>{{bioquimica.urea}}
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>crea: </u>{{bioquimica.crea}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>ALT: </u>{{bioquimica.ALT}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>AST: </u>{{bioquimica.AST}}
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>PT: </u>{{bioquimica.PT}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>alb: </u>{{bioquimica.alb}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>FAS: </u>{{bioquimica.FAS}}
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>GGT: </u>{{bioquimica.GGT}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>CPK: </u>{{bioquimica.CPK}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>col: </u>{{bioquimica.col}}
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>bil_t: </u>{{bioquimica.bil_t}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>bil_d: </u>{{bioquimica.bil_d}}
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <u>trig: </u>{{bioquimica.trig}}
    </blockquote>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <u>varios: </u>{{bioquimica.varios}}
    </blockquote>
  </div>
  </div>
  </div>
  </div>



