
{% extends 'home/base.html'%}

{% block section %}
    {% if mensaje %}
        <legend align="center">{{mensaje}}</legend>
    {% endif %}
    
    <div class="container">
<div class="col-lg-6 col-lg-offset-3 control-label">
<div class="well bs-component">
<form class="form-horizontal" method='post' action='{% url 'login' %}'>{% csrf_token %}
  <fieldset>
    <legend>Iniciar sesión</legend>
    <div class="form-group">
      <label for="nombreLogin" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="nombreLogin" placeholder="Nombre" name="nombreLogin" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="claveLogin" class="col-lg-2 control-label">Clave</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="claveLogin" placeholder="Clave" name="claveLogin" required>
      </div>
    </div>
    

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>

{% endblock %}