
{% extends 'home/base.html'%}

{% block title%} Agregar canino {% endblock %}

{% block caninos_active %}class = "active"{% endblock %}

{% block section %}
     {% if mensaje %}
        <legend align="center">{{mensaje}}</legend>
    {% endif %}
    <div class="container">
<div class="col-lg-8 control-label">
<div class="well bs-component">
<form class="form-horizontal" method='post' action="{{url_action}}">{% csrf_token %}
  <fieldset>
      <legend>{{titulo}}</legend>
    <div class="form-group">
      <label for="duenio" class="col-lg-2 control-label">Dueño</label>
      <div class="col-lg-10">
       <select id="duenio" name="duenio" class="form-control"> 
        <option value="0"> </option>
        {% for duenio in duenios %}
          <option value="{{duenio.id}}" {% if canino.propietario.id == duenio.id %} selected {% endif %} >{{duenio}} </option>
        {% endfor%}
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="nombreCanino" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="nombreCanino" placeholder="Nombre" name="nombreCanino" required value="{{canino.nombre}}">
      </div>
    </div>
    <div class="form-group">
      <label for="protocolo" class="col-lg-2 control-label">Protocolo</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="protocolo" placeholder="Protocolo" name="protocolo" required value="{{canino.protocolo}}">
      </div>
    </div>
    <div class="form-group">
      <label for="especie" class="col-lg-2 control-label">Especie</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="especie" placeholder="Especie" name="especie" required value="{{canino.especie}}">
      </div>
    </div>
    <div class="form-group">
      <label for="sexo" class="col-lg-2 control-label">Sexo</label>
      {% if canino.sexo == "Macho" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="sexo" id="macho" type="radio" value="Macho" checked="checked"/> Macho
        </label>
        <label class="radio-inline">
          <input name="sexo" id="hembra" type="radio" value="Hembra" /> Hembra
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="sexo" id="macho" type="radio" value="Macho" /> Macho
        </label>
        <label class="radio-inline">
          <input name="sexo" id="hembra" type="radio" value="Hembra" checked="checked"/> Hembra
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="raza" class="col-lg-2 control-label">Raza</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="raza" placeholder="Raza" name="raza" required value="{{canino.raza}}">
      </div>
    </div>
    <div class="form-group">
      <label for="edad" class="col-lg-2 control-label">Edad</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="edad" placeholder="Edad" name="edad" required value="{{canino.edad|stringformat:'.2f'}}">
      </div>
    </div>
    <div class="form-group">
      <label for="motivo_de_consulta" class="col-lg-2 control-label">Motivo de consulta</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="motivo_de_consulta" placeholder="Motivo de consulta" name="motivo_de_consulta" required value="{{canino.motivo_de_consulta}}">
      </div>
    </div>
    <legend>Anamnesis:</legend>
    <div class="form-group">
      <label for="uso_de_la_mascota" class="col-lg-2 control-label">Uso de la mascota</label>
      {% if canino.uso_de_la_mascota == "Guardia" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Guardia" checked="checked"/> Guardia
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Caza"  /> Caza
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Compania" /> Compania
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Otra" /> Otra
        </label>
      </div>
      {% elif canino.uso_de_la_mascota == "Caza" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Guardia" /> Guardia
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Caza" checked="checked" /> Caza
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Compania" /> Compania
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Otra" /> Otra
        </label>
      </div>
      {% elif canino.uso_de_la_mascota == "Compania" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Guardia" /> Guardia
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Caza"  /> Caza
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Compania" checked="checked" /> Compania
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Otra" /> Otra
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Guardia" /> Guardia
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Caza"  /> Caza
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Compania" /> Compania
        </label>
        <label class="radio-inline">
          <input name="uso_de_la_mascota" type="radio" value="Otra" checked="checked"/> Otra
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="habitos" class="col-lg-2 control-label">Habitos</label>
      {% if canino.habitos == "No sale" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos" type="radio" value="No sale" checked="checked"/> No sale
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale con correa"  /> Sale con correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin correa" /> Sale sin correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin supervision" /> Sale sin supervision
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Vagabundo" /> Vagabundo
        </label>
      </div>
      {% elif canino.habitos == "Sale con correa" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos" type="radio" value="No sale" /> No sale
        </label>
        <label class="radio-inline">  
          <input name="habitos" type="radio" value="Sale con correa" checked="checked" /> Sale con correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin correa" /> Sale sin correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin supervision" /> Sale sin supervision
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Vagabundo" /> Vagabundo
        </label>
      </div>
      {% elif canino.habitos == "Sale sin correa" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos" type="radio" value="No sale" /> No sale
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale con correa"  /> Sale con correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin correa" checked="checked"/> Sale sin correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin supervision" /> Sale sin supervision
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Vagabundo" /> Vagabundo
        </label>
      </div>
      {% elif canino.habitos == "Sale sin supervision" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos" type="radio" value="No sale" /> No sale
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale con correa"  /> Sale con correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin correa" /> Sale sin correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin supervision" checked="checked"/> Sale sin supervision
        </label>
        <label class="radio-inline"> 
          <input name="habitos" type="radio" value="Vagabundo" /> Vagabundo
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos" type="radio" value="No sale" /> No sale
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale con correa"  /> Sale con correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin correa" /> Sale sin correa
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Sale sin supervision" /> Sale sin supervision
        </label>
        <label class="radio-inline">
          <input name="habitos" type="radio" value="Vagabundo" checked="checked"/> Vagabundo
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="contacto_con_basural" class="col-lg-2 control-label">Contacto con basural</label>
      {% if canino.contacto_con_basural == "Ninguno" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Ninguno" checked="checked" /> Ninguno
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Esporadico" /> Esporadico
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Frecuente" /> Frecuente
        </label>
      </div>
      {% elif canino.contacto_con_basural == "Esporadico" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Ninguno"  /> Ninguno
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Esporadico" checked="checked"/> Esporadico
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Frecuente" /> Frecuente
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Ninguno"  /> Ninguno
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Esporadico" /> Esporadico
        </label>
        <label class="radio-inline">
          <input name="contacto_con_basural" type="radio" value="Frecuente" checked="checked"/> Frecuente
        </label>
      </div>
      {% endif %}
    </div>    
    <div class="form-group">
      <label for="caza" class="col-lg-2 control-label">Comportamiento de caza</label>
      {% if canino.caza == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="caza" type="radio" value="No" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="caza" type="radio" value="Si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="caza" type="radio" value="No"  /> No
        </label>
        <label class="radio-inline">
          <input name="caza" type="radio" value="Si" checked="checked"/> Si
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="caza_roedores" class="col-lg-2 control-label">Caza roedores</label>
      {% if canino.caza_roedores == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="caza_roedores" type="radio" value="No" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="caza_roedores" type="radio" value="Si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="caza_roedores" type="radio" value="No"  /> No
        </label>
        <label class="radio-inline">
          <input name="caza_roedores" type="radio" value="Si" checked="checked"/> Si
        </label>
      </div>
    {% endif %}
    </div>
    <div class="form-group">
      <label for="observacion_roedores" class="col-lg-2 control-label">Observacion roedores</label>
      {% if canino.observacion_roedores == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="No" checked="checked"/> No
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Esporadico" /> Esporadico
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Frecuente" /> Frecuente
        </label>
      </div>
      {% elif canino.observacion_roedores == "Esporadico" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="No" /> No
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Esporadico" checked="checked"/> Esporadico
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Frecuente" /> Frecuente
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="No" /> No
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Esporadico" /> Esporadico
        </label>
        <label class="radio-inline">
          <input name="observacion_roedores" type="radio" value="Frecuente" checked="checked"/> Frecuente
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="vacunado_contra_leptospirosis" class="col-lg-2 control-label">Vacunado contra leptospirosis</label>
      {% if canino.vacunado_contra_leptospirosis == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="No" checked="checked"/> No
        </label>
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="Si" /> Si
        </label>
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="Desconoce" /> Desconoce
        </label>
      </div>
      {% elif canino.vacunado_contra_leptospirosis == "Si" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="No" /> No
        </label>
        <label class="radio-inline">  
          <input name="vacunado_contra_leptospirosis" type="radio" value="Si" checked="checked"/> Si
        </label>
        <label class="radio-inline">  
          <input name="vacunado_contra_leptospirosis" type="radio" value="Desconoce" /> Desconoce
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="No" /> No
        </label>
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="Si" /> Si
        </label>
        <label class="radio-inline">
          <input name="vacunado_contra_leptospirosis" type="radio" value="Desconoce" checked="checked"/> Desconoce
        </label>
      </div>
      {% endif%}
    </div>
    <div class="form-group">
      <label for="desparasitado" class="col-lg-2 control-label">Desparasitado</label>
      {% if canino.desparasitado == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="No" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Si" /> Si
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Desconoce" /> Desconoce
        </label>
      </div>
      {% elif canino.desparasitado == "Si" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="No"  /> No
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Si" checked="checked"/> Si
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Desconoce" /> Desconoce
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="No"  /> No
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Si" /> Si
        </label>
        <label class="radio-inline">
          <input name="desparasitado" type="radio" value="Desconoce" checked="checked"/> Desconoce
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="eliminacion_de_excretas" class="col-lg-2 control-label">Eliminacion de excretas</label>
      {% if canino.eliminacion_de_excretas == "En la calle" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En la calle" checked="checked" /> En la calle
        </label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En el domicilio" /> En el domicilio
        </label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="Ambas" /> Ambas
        </label>
      </div>
      {% elif canino.eliminacion_de_excretas == "En el domicilio" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En la calle"  /> En la calle
        </label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En el domicilio" checked="checked" /> En el domicilio
        <label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="Ambas" /> Ambas
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En la calle" /> En la calle
        </label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="En el domicilio" /> En el domicilio
        </label>
        <label class="radio-inline">
          <input name="eliminacion_de_excretas" type="radio" value="Ambas" checked="checked" /> Ambas
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="habitos_alimenticios" class="col-lg-2 control-label">Habitos alimenticios</label>
      {% if canino.habitos_alimenticios == "Alimento balanceado" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Alimento balanceado" checked="checked" /> Alimento balanceado
        </label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Comida casera" /> Comida casera
        </label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Ambas" /> Ambas
        </label>
      </div>
      {% elif canino.habitos_alimenticios == "Comida casera" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Alimento balanceado"  /> Alimento balanceado
        </label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Comida casera" checked="checked"/> Comida casera
        <label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Ambas" /> Ambas
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Alimento balanceado"  /> Alimento balanceado
        </label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Comida casera" /> Comida casera
        </label>
        <label class="radio-inline">
          <input name="habitos_alimenticios" type="radio" value="Ambas" checked="checked"/> Ambas
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="signos_clinicos" class="col-lg-2 control-label">Signos clinicos</label>
      {% if canino.signos_clinicos == "No" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input id="signono" name="signos_clinicos" type="radio" value="No" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input id="signosi" name="signos_clinicos" type="radio" value="Si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input id="signono" name="signos_clinicos" type="radio" value="No"  /> No
        </label>
        <label class="radio-inline">
          <input id="signosi" name="signos_clinicos" type="radio" value="Si" checked="checked"/> Si
        </label>
      </div>  
      {% endif %}
    </div>
    <div id = "ocultar"  {% if canino.signos_clinicos == "No" %}style='display:none;'{% endif%}>
      <div class="form-group">
        <label for="piel_Linfonodos" class="col-lg-2 control-label">Piel/Linfonodos</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="piel_Linfonodos" placeholder="Piel/Linfonodos" name="piel_Linfonodos" value="{{canino.piel_Linfonodos}}">
        </div>
      </div>
      <div class="form-group">
        <label for="digestivo" class="col-lg-2 control-label">Digestivo</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="digestivo" placeholder="Digestivo" name="digestivo" value="{{canino.digestivo}}">
        </div>
      </div>
      <div class="form-group">
        <label for="cardio_respiratorio" class="col-lg-2 control-label">Cardio/respiratorio</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="cardio_respiratorio" placeholder="Cardio/respiratorio" name="cardio_respiratorio" value="{{canino.cardio_respiratorio}}">
        </div>
      </div>
      <div class="form-group">
        <label for="urogenital" class="col-lg-2 control-label">Urogenital</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="urogenital" placeholder="Urogenital" name="urogenital" value="{{canino.urogenital}}">
        </div>
      </div>
      <div class="form-group">
        <label for="musculoesqueleticonervioso" class="col-lg-2 control-label">Musculoesqueleticonervioso</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="musculoesqueleticonervioso" placeholder="Musculoesqueleticonervioso" name="musculoesqueleticonervioso" value="{{canino.musculoesqueleticonervioso}}">
        </div>
      </div>
    </div>
      <legend>Examen fisico:</legend>
      <div class="form-group">
        <label for="peso" class="col-lg-2 control-label">Peso</label>
        <div class="col-lg-10">
          <input type="number" step="0.01" class="form-control" id="peso" placeholder="Peso" name="peso" required value="{{canino.peso|stringformat:'.2f'}}">
        </div>
      </div>
    <div id="ocultar1" {% if canino.signos_clinicos == "No" %}style='display:none;'{% endif%}>
      <div class="form-group">
        <label for="actitud" class="col-lg-2 control-label">Actitud</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="actitud" placeholder="Actitud" name="actitud"  value="{{canino.actitud}}">
        </div>
      </div>
      <div class="form-group">
        <label for="mucosas" class="col-lg-2 control-label">Mucosas</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="mucosas" placeholder="Mucosas" name="mucosas"  value="{{canino.mucosas}}">
        </div>
      </div>
      <div class="form-group">
      <label for="TLC" class="col-lg-2 control-label">TLC</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="TLC" placeholder="TLC" name="TLC"  value="{{canino.TLC}}">
      </div>
    </div>
    <div class="form-group">
      <label for="hidratacion" class="col-lg-2 control-label">Hidratacion</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="hidratacion" placeholder="Hidratacion" name="hidratacion"  value="{{canino.hidratacion}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FC" class="col-lg-2 control-label">FC</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="FC" placeholder="FC" name="FC"  value="{{canino.FC}}">
      </div>
    </div>
    <div class="form-group">
      <label for="pulso" class="col-lg-2 control-label">Pulso</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="pulso" placeholder="Pulso" name="pulso"  value="{{canino.pulso}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FR" class="col-lg-2 control-label">FR</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="FR" placeholder="FR" name="FR"  value="{{canino.FR}}">
      </div>
    </div>
    <div class="form-group">
      <label for="T" class="col-lg-2 control-label">T</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" {% if canino.signos_clinicos == "Si" %} min="34" max="45" {% endif%} class="form-control" id="T" placeholder="T" name="T"  value="{{canino.T|stringformat:'.2f'}}">
      </div>
    </div>
  </div>
    <div class="form-group">
      <label for="procedimiento_realizado" class="col-lg-2 control-label">Procedimiento realizado</label>
      {% if canino.procedimiento_realizado == "VAR" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="VAR" checked="checked" /> VAR
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="ATP" /> ATP
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="EXTRAC" /> EXTRAC
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="COPRO" /> COPRO
        </label>
      </div>
      {% elif canino.procedimiento_realizado == "ATP" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="VAR"  /> VAR
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="ATP" checked="checked"/> ATP
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="EXTRAC" /> EXTRAC
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="COPRO" /> COPRO
        </label>
      </div>
      {% elif canino.procedimiento_realizado == "EXTRAC" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="VAR"  /> VAR
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="ATP" /> ATP
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="EXTRAC" checked="checked"/> EXTRAC
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="COPRO" /> COPRO
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="VAR" /> VAR
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="ATP" /> ATP
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="EXTRAC" /> EXTRAC
        </label>
        <label class="radio-inline">
          <input name="procedimiento_realizado" type="radio" value="COPRO" checked="checked" /> COPRO
        </label>
      </div>
      {% endif%}
      </div>
      <div class="form-group">
      <div class="col-lg-12 col-lg-offset-1">
        <div class="col-lg-5">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>
        <div class="col-lg-5">
          <a type="button" class="btn btn-primary btn-block" href="{% url 'caninos_view' %}">Cancelar</a>
        </div>
      </div>
    </div>
</div>

  </fieldset>
</form>
</div>
</div>
</div>

<script type="text/javascript">
    $('#signosi').click(function(){
        $('#ocultar').show("slow");
    });
    $('#signono').click(function(){
        $('#ocultar').hide("slow");
    });
</script>
<script type="text/javascript">
    $('#signosi').click(function(){
        $('#ocultar1').show("slow");
    });
    $('#signono').click(function(){
        $('#ocultar1').hide("slow");
    });
</script>

{% endblock %}
