
{% extends 'home/base.html'%}

{% block duenios_active %}class = "active"{% endblock %}

{% block title%} Agregar dueño {% endblock %}

{% block section %}
    {% if error %}
        <legend align="center">{{error}}</legend>
    {% endif %}
    {% if mensaje %}
        <legend align="center">{{mensaje}}</legend>
    {% endif %}
    <div class="container">
<div class="col-lg-8 control-label">
<div class="well bs-component">
<form class="form-horizontal" method='post' action="{{url_action}}">{% csrf_token %}
  <fieldset>
    <legend>{{titulo}}</legend>
    <legend>Datos personales:</legend>
    <div class="form-group">
      <label for="canino" class="col-lg-2 control-label">Canino</label>
      <div class="col-lg-10">
       <select value="{{canino.id}}" id="canino" placeholder="Canino" name="canino" value="{{canino.nombre}}" class="form-control"> 
        <option value="{{canino.id}}" id="canino" placeholder="Canino" name="canino"> </option>
        {% for canino in caninos %}
          <option value="{{canino.id}}" id="canino" placeholder="Canino" name="canino" required>{{canino.nombre}} - {{canino.protocolo}} </option>
        {% endfor%}
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="nombreDuenio" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="nombreDuenio" placeholder="Nombre" name="nombreDuenio" required value="{{duenio.nombre}}">
      </div>
    </div>
    <div class="form-group">
      <label for="apellido" class="col-lg-2 control-label">Apellido</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido" required value="{{duenio.apellido}}">
      </div>
    </div>
    <div class="form-group">
      <label for="direccion" class="col-lg-2 control-label">Direccion</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="direccion" placeholder="Direccion" name="direccion" required value="{{duenio.direccion}}">
      </div>
    </div>
    <div class="form-group">
      <label for="barrio" class="col-lg-2 control-label">Barrio</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="barrio" placeholder="Barrio" name="barrio" required value="{{duenio.barrio}}">
      </div>
    </div>
    <div class="form-group">
      <label for="procedencia" class="col-lg-2 control-label">Procedencia</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="procedencia" placeholder="Procedencia" name="procedencia" required value="{{duenio.procedencia}}">
      </div>
    </div>
    <div class="form-group">
      <label for="telefono" class="col-lg-2 control-label">Telefono</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="telefono" placeholder="Telefono" name="telefono" required value="{{duenio.telefono}}">
      </div>
    </div>
    <div class="form-group">
      <label for="edad" class="col-lg-2 control-label">Edad</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="edad" placeholder="Edad" name="edad" required value="{{duenio.edad}}">
      </div>
    </div>
    <div class="form-group">
      <label for="grado_de_instruccion" class="col-lg-2 control-label">Grado de instruccion</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="grado_de_instruccion" placeholder="Grado de instruccion" name="grado_de_instruccion" required value="{{duenio.grado_de_instruccion}}">
      </div>
    </div>
    <div class="form-group">
      <label for="ocupacion" class="col-lg-2 control-label">Ocupacion</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="ocupacion" placeholder="Ocupacion" name="ocupacion" required value="{{duenio.ocupacion}}">
      </div>
    </div>    
    <div class="form-group">
      <label for="convivientes_adultos" class="col-lg-2 control-label">Adultos</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="convivientes_adultos" placeholder="Convivientes adultos" name="convivientes_adultos" required value="{{duenio.numero_convivientes_adultos}}">
      </div>
    </div>
    <div class="form-group">
      <label for="convivientes_ninios" class="col-lg-2 control-label">Niños</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="convivientes_ninios" placeholder="Convivientes niños" name="convivientes_ninios" required value="{{duenio.numero_convivientes_ninios}}">
      </div>
    </div>
    <div class="form-group">
      <label for="en_edad_escolar" class="col-lg-2 control-label">En edad escolar</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="en_edad_escolar" placeholder="En edad escolar" name="en_edad_escolar" required value="{{duenio.en_edad_escolar}}">
      </div>
    </div>
    <div class="form-group">
      <label for="mascotas" class="col-lg-2 control-label">Mascotas</label>
      {% if duenio.mascotas == "1" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="1" checked="checked" /> 1
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="2" /> 2
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="3" /> 3
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="mas de 3" /> Mas de 3
        </label>
      </div>
      {% elif duenio.mascotas = 2 %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="1"  /> 1
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="2" checked="checked"/> 2
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="3" /> 3
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="mas de 3" /> Mas de 3
        </label>
      </div>
      {% elif duenio.mascotas = 3 %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="1"  /> 1
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="2" /> 2
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="3" checked="checked"/> 3
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="mas de 3" /> Mas de 3
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="1"  /> 1
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="2" /> 2
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="3" /> 3
        </label>
        <label class="radio-inline">
          <input name="mascotas" type="radio" value="mas de 3" checked="checked"/> Mas de 3
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="tipos" class="col-lg-2 control-label">Tipos de mascotas</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="tipos" placeholder="Tipos de mascotas" name="tipos" required value="{{duenio.tipos}}">
      </div>
    </div>
    <legend>Datos habitacionales:</legend>
    <div class="form-group">
      <label for="vivienda" class="col-lg-2 control-label">Vivienda</label>
      {% if duenio.vivienda == "propia" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="propia" checked="checked" /> Propia
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="alquila" /> Alquila
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="asentamiento" /> Asentamiento
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.vivienda == "alquila" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="propia"  /> Propia
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="alquila" checked="checked"/> Alquila
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="asentamiento" /> Asentamiento
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.vivienda == "asentamiento" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="propia"  /> Propia
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="alquila" /> Alquila
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="asentamiento" checked="checked"/> Asentamiento
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="propia" /> Propia
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="alquila" /> Alquila
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="asentamiento" /> Asentamiento
        </label>
        <label class="radio-inline">
          <input name="vivienda" type="radio" value="otros"  checked="checked"/> Otros
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="material" class="col-lg-2 control-label">Material</label>
      {% if duenio.material == "carton" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="material" type="radio" value="carton" checked="checked" /> Carton
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="madera" /> Madera
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="chapa" /> Chapa
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="ladrillo" /> Ladrillo
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.material == "madera" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="material" type="radio" value="carton"  /> Carton
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="madera" checked="checked"/> Madera
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="chapa" /> Chapa
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="ladrillo" /> Ladrillo
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.material == "chapa" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="material" type="radio" value="carton"  /> Carton
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="madera" /> Madera
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="chapa" checked="checked"/> Chapa
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="ladrillo" /> Ladrillo
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.material == "ladrillo" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="material" type="radio" value="carton"  /> Carton
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="madera" /> Madera
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="chapa" /> Chapa
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="ladrillo" checked="checked"/> Ladrillo
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="material" type="radio" value="carton" /> Carton
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="madera" /> Madera
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="chapa" /> Chapa
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="ladrillo" /> Ladrillo
        </label>
        <label class="radio-inline">
          <input name="material" type="radio" value="otros" checked="checked" /> Otros
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="ambientes" class="col-lg-2 control-label">Ambientes</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" id="ambientes" placeholder="Ambientes" name="ambientes" required value="{{duenio.ambientes}}">
      </div>
    </div>
    <div class="form-group">
      <label for="agujeros" class="col-lg-2 control-label">Agujeros en la vivienda</label>
      {% if duenio.agujeros == "no" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agujeros" type="radio" value="no" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="agujeros" type="radio" value="si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agujeros" type="radio" value="no"  /> No
        </label>
        <label class="radio-inline">
          <input name="agujeros" type="radio" value="si" checked="checked"/> Si
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="agua" class="col-lg-2 control-label">Provision de agua</label>
      {% if duenio.agua == "red" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua" type="radio" value="red" checked="checked" /> Red
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="pozo" /> Pozo
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="bomba" /> Bomba de inmersion
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.agua == "pozo" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua" type="radio" value="red"  /> Red
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="pozo" checked="checked"/> Pozo
        labeliv>
        <label class="radio-inline">
          <input name="agua" type="radio" value="bomba" /> Bomba de inmersion
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% elif duenio.agua == "bomba" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua" type="radio" value="red" /> Red
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="pozo" /> Pozo
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="bomba" checked="checked"/> Bomba de inmersion
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="otros" /> Otros
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua" type="radio" value="red" /> Red
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="pozo" /> Pozo
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="bomba" /> Bomba de inmersion
        </label>
        <label class="radio-inline">
          <input name="agua" type="radio" value="otros" checked="checked"/> Otros
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="excretas" class="col-lg-2 control-label">Excretas</label>
      {% if duenio.excretas == "cloaca" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="excretas" type="radio" value="cloaca" checked="checked" /> Cloacas
        </label>
        <label class="radio-inline">
          <input name="excretas" type="radio" value="pozo" /> Pozo
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="excretas" type="radio" value="cloaca" /> Cloacas
        </label>
        <label class="radio-inline">
          <input name="excretas" type="radio" value="pozo"  checked="checked"/> Pozo
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="residuos_domiciliarios" class="col-lg-2 control-label">Residuos domiciliarios</label>
      {% if duenio.residuos_domiciliarios == "tachos con tapa dentro de la vivienda" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa dentro de la vivienda" checked="checked" /> Tachos con tapa dentro de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa dentro de la vivienda" /> Tachos sin tapa dentro de la vivienda
        </label> 
        <br>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa fuera de la vivienda" /> Tachos con tapa fuera de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa fuera de la vivienda" /> Tachos sin tapa fuera de la vivienda
        </label>
      </div>
      {% elif duenio.residuos_domiciliarios == "tachos sin tapa dentro de la vivienda" %}
      <div class="col-lg-10">
        <label class="radio-inline">  
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa dentro de la vivienda"  /> Tachos con tapa dentro de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa dentro de la vivienda" checked="checked"/> Tachos sin tapa dentro de la vivienda
        </label>
        <br>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa fuera de la vivienda" /> Tachos con tapa fuera de la vivienda
        </label>
        <label class="radio-inline">  
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa fuera de la vivienda" /> Tachos sin tapa fuera de la vivienda
        </label>
      </div>
      {% elif duenio.residuos_domiciliarios == "tachos con tapa fuera de la vivienda" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa dentro de la vivienda" /> Tachos con tapa dentro de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa dentro de la vivienda" /> Tachos sin tapa dentro de la vivienda
        </label>
        <br>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa fuera de la vivienda"  checked="checked"/> Tachos con tapa fuera de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa fuera de la vivienda" /> Tachos sin tapa fuera de la vivienda
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa dentro de la vivienda" /> Tachos con tapa dentro de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa dentro de la vivienda" /> Tachos sin tapa dentro de la vivienda
        </label>
        <br>
        <label class="radio-inline">  
          <input name="residuos_domiciliarios" type="radio" value="tachos con tapa fuera de la vivienda" /> Tachos con tapa fuera de la vivienda
        </label>
        <label class="radio-inline">
          <input name="residuos_domiciliarios" type="radio" value="tachos sin tapa fuera de la vivienda" checked="checked" /> Tachos sin tapa fuera de la vivienda
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="recoleccion_de_residuos" class="col-lg-2 control-label">Recoleccion de residuos</label>
      {% if duenio.recoleccion_de_residuos == "diaria" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="diaria" checked="checked" /> Diaria
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="dos o 3 veces semanales" /> Dos o 3 veces semanales
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="semanal" /> Semanal
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="nunca" /> Nunca
        </label>
      </div>
      {% elif duenio.recoleccion_de_residuos == "dos o 3 veces semanales" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="diaria"  /> Diaria
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="dos o 3 veces semanales" checked="checked"/> Dos o 3 veces semanales
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="semanal" /> Semanal
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="nunca" /> Nunca
        </label>
      </div>
      {% elif duenio.recoleccion_de_residuos == "semanal" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="diaria" /> Diaria
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="dos o 3 veces semanales" /> Dos o 3 veces semanales
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="semanal" checked="checked" /> Semanal
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="nunca" /> Nunca
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="diaria" /> Diaria
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="dos o 3 veces semanales" /> Dos o 3 veces semanales
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="semanal"/> Semanal
        </label>
        <label class="radio-inline">
          <input name="recoleccion_de_residuos" type="radio" value="nunca" checked="checked"/> Nunca
        </label>
      </div>
      {% endif %}
    </div>
    <legend>Datos regionales:</legend>
    <div class="form-group">
      <label for="basural" class="col-lg-2 control-label">Cercania de basurales</label>
      {% if duenio.basural == "no" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="basural" type="radio" value="no" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="basural" type="radio" value="si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="basural" type="radio" value="no" /> No
        </label>
        <label class="radio-inline">
          <input name="basural" type="radio" value="si" checked="checked" /> Si
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="roedores" class="col-lg-2 control-label">Presencia de roedores</label>
      {% if duenio.roedores == "no" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="roedores" type="radio" value="no" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="roedores" type="radio" value="si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="roedores" type="radio" value="no" /> No
        </label>
        <label class="radio-inline">
          <input name="roedores" type="radio" value="si" checked="checked" /> Si
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="agua_servida" class="col-lg-2 control-label">Cercania de aguas servidas</label>
      {% if duenio.agua_servida == "no" %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua_servida" type="radio" value="no" checked="checked" /> No
        </label>
        <label class="radio-inline">
          <input name="agua_servida" type="radio" value="si" /> Si
        </label>
      </div>
      {% else %}
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="agua_servida" type="radio" value="no"  /> No
        </label>
        <label class="radio-inline">
          <input name="agua_servida" type="radio" value="si" checked="checked"/> Si
        </label>
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="inundaciones" class="col-lg-2 control-label">Inundaciones</label>
      <div class="col-lg-10">
        <label class="radio-inline">
          <input id="lluviano" name="inundaciones" type="radio" value="no" {% if duenio.inundaciones == "no" %}checked="checked"{% endif %} /> No
        </label>
        <label class="radio-inline">
          <input id="lluviasi" name="inundaciones" type="radio" value="si" {% if duenio.inundaciones == "si" or not duenio.inundaciones %}checked="checked"{% endif %} /> Si
        </label>
      </div>
    </div>
    {% if duenio.inundaciones != "no" %}
    <div id="fecha">
      <div class="form-group">
        <label for="ultima_inundacion" class="col-lg-2 control-label">Ultima inundacion</label>
        <div class="col-lg-10">
          <input type="date" class="form-control" id="ultima_inundacion" placeholder="Ultima inundacion" name="ultima_inundacion" value="{{duenio.ultima_inundacion|date:"Y-m-d"}}">
        </div>
      </div>
    </div>
    {% endif %}
    <legend>Datos clínicos positivos en algún integrante de la familia:</legend>
     <div class="form-group">
      <label for="signos_clinicos" class="col-lg-2 control-label">Signos clinicos</label>
      <div class="col-lg-10">
        <label class="radio-inline">
          <input name="signos_clinicos" type="radio" value="no" {% if duenio.signos_clinicos == "no" %}checked ="checked" {% endif %} id="signosno" /> No
        </label>
        <label class="radio-inline">
          <input name="signos_clinicos" type="radio" {% if duenio.signos_clinicos == "si" or not duenio.signos_clinicos %}checked = "checked" {% endif %} value="si" id="signossi"/> Si
        </label>
      </div>
    </div>
    {% if duenio.signos_clinicos != "no" %}
    <div id = "ocultar">
      <div class="form-group">
        <label for="integrante" class="col-lg-2 control-label">Integrante</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="integrante" placeholder="Integrante" name="integrante" value="{{duenio.integrante}}">
        </div>
      </div>
      <div class="form-group">
        <label for="sintomas" class="col-lg-2 control-label">Sintomas</label>
        <div class="col-lg-10">
              {% if duenio %}
                  {% for sintoma in sintomas %}      
              
                      {% if sintoma in duenio.sintomas.all %}
                        <div class="checkbox-inline">
                          <input name="sintomas" type="checkbox" value="{{sintoma.id}}" checked /> {{sintoma.nombre}}
                        </div>
                      {% else %}
                        <div class="checkbox-inline">
                          <input name="sintomas" type="checkbox" value="{{sintoma.id}}" /> {{sintoma.nombre}}
                        </div>
                      {% endif %}                                
                
               {%endfor%}

              {% else %}
                  {% for sintoma in sintomas %} 
                    <div class="checkbox-inline">
                        <input name="sintomas" type="checkbox" value="{{sintoma.id}}" /> {{sintoma.nombre}}
                    </div>
                {% endfor %}
            {% endif %}
          
        </div>
      </div>
      <div class="form-group">
        <label for="aclaracion" class="col-lg-2 control-label">Aclaracion</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="aclaracion" placeholder="Aclaracion" name="aclaracion" value="{{duenio.aclaracion}}">
        </div>
      </div>
      {% endif %}
    </div>
    <div class="form-group" >
    <div class="col-lg-12 col-lg-offset-1">
      <div class="col-lg-5">
        <button type="submit" value='{{duenio.id}}' id="guardar" class="btn btn-success btn-block">Guardar</button>
      </div>
      <div class="col-lg-5">
        <a type="button" class="btn btn-primary btn-block" href="{% url 'duenios_view' %}">Cancelar</a>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>  
</div>

<script type="text/javascript">
    $('#lluviasi').click(function(){
        $('#fecha').show("slow");
    });
    $('#lluviano').click(function(){
        $('#fecha').hide("slow");
    });
</script>

<script type="text/javascript">

    $('#signossi').click(function(){
        $('#ocultar').show("slow");
    });
    $('#signosno').click(function(){
        $('#ocultar').hide("slow");
    });

</script>


{% endblock %}
