
{% extends 'home/base.html'%}

{% block section %}
<div class="container">
<div class="col-lg-8 control-label">
<div class="well bs-component">
<form class="form-horizontal" method='post' action=''>{% csrf_token %}
  <fieldset>
    <legend>Hemograma</legend>
    <div class="form-group">
      <label for="canino" class="col-lg-2 control-label">Canino</label>
      <div class="col-lg-10">
       <select value="{{canino.id}}" id="canino" placeholder="Canino" name="canino" required value="{{canino.nombre}}"> 
        {% for canino in caninos %}
          <option value="{{canino.id}}" id="canino" placeholder="Canino" name="canino" required>{{canino.nombre}} </option>
        {% endfor%}
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="fecha" class="col-lg-2 control-label">Fecha</label>
      <div class="col-lg-10">
        <input type="date" class="form-control" id="fecha" placeholder="Fecha" name="fecha" required value="{{fecha}}">
      </div>
    </div>
    <div class="form-group">
      <label for="HTO" class="col-lg-2 control-label">HTO</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="HTO" placeholder="HTO" name="HTO" required value="{{HTO}}">
      </div>
    </div>
    <div class="form-group">
      <label for="s_o_l" class="col-lg-2 control-label">s_o_l</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="s_o_l" placeholder="s_o_l" name="s_o_l" required value="{{s_o_l}}">
      </div>
    </div>
    <div class="form-group">
      <label for="GR" class="col-lg-2 control-label">GR</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="GR" placeholder="GR" name="GR" required value="{{GR}}">
      </div>
    </div>
    <div class="form-group">
      <label for="Hb" class="col-lg-2 control-label">Hb</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="Hb" placeholder="Hb" name="Hb" required value="{{Hb}}">
      </div>
    </div>
    <div class="form-group">
      <label for="plaquetas" class="col-lg-2 control-label">plaquetas</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="plaquetas" placeholder="plaquetas" name="plaquetas" required value="{{plaquetas}}">
      </div>
    </div>
    <div class="form-group">
      <label for="GB" class="col-lg-2 control-label">GB</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="GB" placeholder="GB" name="GB" required value="{{GB}}">
      </div>
    </div>
    <div class="form-group">
      <label for="VCM" class="col-lg-2 control-label">VCM</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="VCM" placeholder="VCM" name="VCM" required value="{{VCM}}">
      </div>
    </div>
    <div class="form-group">
      <label for="HCM" class="col-lg-2 control-label">HCM</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="HCM" placeholder="HCM" name="HCM" required value="{{HCM}}">
      </div>
    </div>
    <div class="form-group">
      <label for="ChCM" class="col-lg-2 control-label">ChCM</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="ChCM" placeholder="ChCM" name="ChCM" required value="{{ChCM}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_NB" class="col-lg-2 control-label">FLR_NB</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_NB" placeholder="FLR_NB" name="FLR_NB" required value="{{FLR_NB}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_NS" class="col-lg-2 control-label">FLR_NS</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_NS" placeholder="FLR_NS" name="FLR_NS" required value="{{FLR_NS}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_E" class="col-lg-2 control-label">FLR_E</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_E" placeholder="FLR_E" name="FLR_E" required value="{{FLR_E}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_B" class="col-lg-2 control-label">FLR_B</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_B" placeholder="FLR_B" name="FLR_B" required value="{{FLR_B}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_L" class="col-lg-2 control-label">FLR_L</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_L" placeholder="FLR_L" name="FLR_L" required value="{{FLR_L}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLR_M" class="col-lg-2 control-label">FLR_M</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLR_M" placeholder="FLR_M" name="FLR_M" required value="{{FLR_M}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_REF" class="col-lg-2 control-label">FLA_REF</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_REF" placeholder="FLA_REF" name="FLA_REF" required value="{{FLA_REF}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_NB" class="col-lg-2 control-label">FLA_NB</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_NB" placeholder="FLA_NB" name="FLA_NB" required value="{{FLA_NB}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_NS" class="col-lg-2 control-label">FLA_NS</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_NS" placeholder="FLA_NS" name="FLA_NS" required value="{{FLA_NS}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_E" class="col-lg-2 control-label">FLA_E</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_E" placeholder="FLA_E" name="FLA_E" required value="{{FLA_E}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_B" class="col-lg-2 control-label">FLA_B</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_B" placeholder="FLA_B" name="FLA_B" required value="{{FLA_B}}">
      </div>
    </div>
    <div class="form-group">
      <label for="FLA_L" class="col-lg-2 control-label">FLA_L</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_L" placeholder="FLA_L" name="FLA_L" required value="{{FLA_L}}">
      </div>
    </div>
     <div class="form-group">
      <label for="FLA_M" class="col-lg-2 control-label">FLA_M</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="FLA_M" placeholder="FLA_M" name="FLA_M" required value="{{FLA_M}}">
      </div>
    </div>
     <div class="form-group">
      <label for="observaciones" class="col-lg-2 control-label">observaciones</label>
      <div class="col-lg-10">
        <input type="number" step="0.01" class="form-control" id="observaciones" placeholder="observaciones" name="observaciones" value="{{observaciones}}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="btn btn-primary">Cancelar</button>
      </div>
    </div>

  </fieldset>
</form>
</div>
</div>
</div>

{% endblock %}



VERIFICAR TODOS LOS NOMBRES Y TIPOS DE LOS FORMULARIOS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!