
{% extends 'home/base.html'%}

{% block title%} Agregar usuario {% endblock %}

{% block usuarios_active %}class = "active"{% endblock %}

{% block section %}
    {% if mensaje %}
        <legend align="center">{{mensaje}}</legend>
    {% endif %}
    <div class="container">
<div class="col-lg-8 control-label">
<div class="well bs-component">
<form class="form-horizontal" method='post' action="{{url_action}}">{% csrf_token %}
  <fieldset>
    <legend>{{titulo}}</legend>
    <div class="form-group">
      <label for="nombre" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" value="{{usuario.username}}" required>
      </div>
    </div>
    {% if titulo = "Agregar Usuario" %}
    <div class="form-group">
      <label for="clave" class="col-lg-2 control-label">Clave</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="clave" placeholder="Clave" name="clave" required>
      </div>
    </div>
    {% endif %}
    {% if titulo = "Agregar Usuario" %}
    <div class="form-group">
      <label for="clave_conf" class="col-lg-2 control-label">Repetir clave</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="clave_conf" placeholder="Clave" name="clave_conf" required>
      </div>
    </div>
    {% endif %}
     <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Tipo de usuario</label>
      <div class="col-lg-10">
        <select class="form-control" id="tipo" name="tipo">
          <option>Clinico</option>
          <option>Data entry</option>
        </select>
        </div>
        </div>

    <div class="form-group">
      <div class="col-lg-12 col-lg-offset-1">
        <div class="col-lg-5">
          <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </div>
        <div class="col-lg-5">
          <a type="button" class="btn btn-primary btn-block" href="{% url 'usuarios_view' %}">Cancelar</a>
        </div>
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>

{% endblock %}