<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- CDN Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootswatch.min.js'%}"></script>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" >-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">-->


<style>
table, th, td {
    border: 2px solid;
}
th, td {
    padding: 2px;
    text-align: left;
}
body  {
  font: 150% sans-serif;
}
.col-md-4{
	width: 30%;
    position:absolute;
}


 @page {
    margin: 1cm;
    margin-bottom: 1cm;
    @frame footer {
      -pdf-frame-content: footerFirst;
      
      bottom: 0.5cm;
      margin-left: 1cm;
      margin-right: 1cm;
      height: 1cm;
   }
 }

 p {
  width: 50%;
  margin: 20px;
  border: black 2px solid;
  padding: 5px;
  text-align: center;
}


</style>
</head>
<body>

	<div align="center"> 
	<center> 
	<table > 
	<tr> 
	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  width="140" height="80" src="vete/static/images/facultad.jpg"  ></td> 
	<td>&nbsp;&nbsp;<img  width="170" height="80" src="vete/static/images/unlp.jpg"  ></td> 
	<td>&nbsp;<img  width="170" height="60" src="vete/static/images/punta_indio.jpg"  ></td> 
	</tr> 
	</table> 
	</center> 
	</div> 

	<div align="left">
    	
    </div>
    <div align="center">
    	
    </div>
    <div align="right">
    
    </div>
    <h3 style="font: 100% sans-serif;margin-left: 180px">Servicio Central de Laboratorio FCV-UNLP</h3>
    <h3 style="font: 100% sans-serif;margin-left: 190px">Area de Diagn&oacute;stico de Leptospirosis</h3>
    <div >



    </div>

    <div style="margin-left: 52px;margin-right: 52px;font: 90% sans-serif;">
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
        <b>Profesional: </b>{{canino.analisis.profesional}}
      </div>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Historia cl&iacute;nica: </b>{{canino.analisis.historia_clinica}}
      </div>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Protocolo: </b>{{canino.protocolo}}
      </div>
      <br>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Fecha: </b>{{canino.analisis.fecha}}
      </div>
      <div class="col-md-4"style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Propietario: </b>{{canino.propietario}}
      </div>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Paciente: </b>{{canino.nombre}}
      </div>
      <br>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Direcci&oacute;n: </b>{{canino.propietario.direccion}}
      </div>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Especie: </b>{{canino.especie}}
      </div>
      <div class="col-md-4"style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Raza: </b>{{canino.raza}}
      </div>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Sexo: </b>{{canino.sexo}}
      </div>
      <br>
      <div class="col-md-4" style="display: inline">&nbsp;&nbsp;&nbsp;
      	<b>Edad: </b>{{canino.edad|floatformat:1}}
      </div>
    </div>




    <h5 style="margin-left: 65px;font: 100%">DIAGN&Oacute;STICO SEROL&Oacute;GICO: TEST DE MICROAGLUTINACI&Oacute;N (MAT)</h5>

    SEROVARES UTILIZADOS:

<table WIDTH=80% align="center" style="background-color:#CFD8DC;border:black;">
  <thead>
    <tr>
      <th>Serogrupo</th>
      <th>Serovar</th>
      <th>Cepa</th>
      <th>Especie</th>
    </tr>
  </thead>
  <tbody>
 
  {% for serovar in serovares %}
    <tr >
      <td>{{serovar.serogrupo}}</td>
      <td>{{serovar.serovar}}</td>
      <td>{{serovar.cepa}}</td>
      <td>{{serovar.especie}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4 style="margin-left: 70px;margin-right: 70px;">RESULTADOS:</h3>
<p style="margin-left: 70px;margin-right: 70px;">Dilusi&oacute;n inicial {{canino.analisis.dilucion_inicial}}<br> {% if canino.analisis.reactivo == True %} Reactivo {% else %}No reactivo{% endif %} </p>

<h4 style="margin-left: 70px;margin-right: 70px;">OBSERVACIONES:</h3>
<p style="margin-left: 70px;margin-right: 70px;"> {{canino.analisis.observaciones}}</p>




<h5 style="margin-top: 20px;margin-left: 140px;">Calle 60 y 118 (1900) La Plata Tel. 4236663 Int. 437</h5>


<div id="footerFirst">
    &nbsp;&nbsp;<div style="display: inline">arauz@fcv.unlp.edu.ar</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div style="display: inline">plmartin@fcv.unlp.edu.ar</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div style="display: inline">stanchi@fcv.unlp.edu.ar</div>&nbsp;
</div>
</body>
</html>